<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div style="background-color: rgb(157, 179, 219); margin: -10px -10px 20px -10px; padding: 50px;">
        <h1>الصفحة الرئيسة</h1>
    </div>
    <form action="/" method="POST"> <!-- target="_blank" -->
        <input type="text" name="name" placeholder="Name" dir="rtl">
        <button type="submit">تحميل الصورة</button>
        <!-- <button formaction="/" type="submit">عرض الصورة</button> -->
    </form>
</body>
</html>